/* Holiii otra vez */
*{
	font-family: 'Merriweather Sans', sans-serif;
}
/*NAVBAR*/
.navbar-inverse{
	background-color: transparent;
	border: 1px solid #F06292;
}
.navbar-inverse h2{
	font-weight: 700;
}
.navbar-inverse h2 small{
	font-weight: 700;
	color: #F06292;
}
.navbar-inverse .navbar-nav li a{
	color: black;
	transition: .5s all ease;
}
.navbar-inverse .navbar-nav li a i{
	color: #F06292;
	font-weight: 700;
	font-size: 2rem;
	transition: .5s all ease;
}
.navbar-inverse .navbar-nav li a:hover{
	color: #f09cb8;
	font-weight: bold;
	cursor: pointer;
	transition: .5s all ease
	text-shadow: 2px 2px #ff0000;
}
/*SECCION FOTOS PRINCIPALES*/
.second-section .foto-mujer{
	height: 425px;
	width: 100%
}
.second-section .foto-ninos{
	height: 294px;
	width: 100%;
	padding-bottom: 30px;
}
.second-section .foto-mujer-flor{
	width: 100%;
	margin: 0 auto;
}
.second-section .foto-familia{
	height: 131px;
	width: 100%;
}